<html><body bgcolor="#FFFFFF">
<h3 align="center">Patch Component for Joomla!/Mambo</h3>
<strong>Patch Component v1.0.1</strong> <em>for Joomla!/Mambo</em><br />
&copy; 2005 Vincent Cheah, ByOS Technologies (www.byostech.com)<br>
             All rights reserved.
  <p>      This component has patched your Joomla!/Mambo as mentioned on the above. </p>
  <ul>
<li>For questions and support please contact the author at <a href="mailto:jaclplus@byostech.com">com_patch@byostech.com</a> or go to <a href="http://www.byostech.com/forum">http://www.byostech.com/forum</a>.</li>
<li>This component make patching of your Joomla!, Joomla!/Mambo components, hacks, etc easy because you can do it with a couple of clicks only.</li>
</ul>
<p>
            <strong><font color="#FF8000">Note for all version of Patch Component: </font></strong><br>
   <font size="1">Patch Component is provided as free software and therefore provided 'as-is'.
            The ByOS Technologies, its subsidiaries, its developers, contributors 
            and its parental legal entities (formally or informally) (these will further be referenced as 'BYOS') 
            offer you Patch Component for absolutely free for your own personal use, pleasure and education. 
            The BYOS reserves the right to charge corporate or  commercial users of the Software for this 
  or future versions or support on a paid basis. </font>        </p>
         <p><font size="1">Any Patch Component version may contain errors, bugs and/or can cause problems otherwise. By installing this software, you have agreed to waive BYOS from whatever form of liability and/or 
            responsibility for any problems and/or damages done by this software to you, your web environment 
            or in any other way legally, financially, socially, emotionally or whatever other ~ally you could 
   possibly imagine and find a legal article for that favors your rights...<br>
     In short and slightly more human readable: Use this software at your own risk; 
we don't guarantee anything! </font></p>
         <p><font size="1">By clicking 'continue' below and using Patch Component, 
               it's your way of answering: &quot;Yes,I know... trust me, I know what I'm 
            doing so it'll be my own fault if things go wrong and I don't care&quot;...</font>
           <br>
           <font size="1">Have fun with Patch Component! We know you will!!!</font>
         </p>
</body></html>