#atomicongallery .folder_up {
	background: none;
}
#atomicongallery .folder,
#atomicongallery .file {
    -webkit-border-radius: 10px;    /* for Safari */
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-border-radius: 10px;       /* for Firefox */
    -moz-box-shadow: 0px 0px 5px black;
    border-radius: 10px;       /* for CSS3 */
    box-shadow: 0px 0px 5px black;
}
#atomicongallery .folder:hover,
#atomicongallery .file:hover {
    -webkit-box-shadow: 0px 0px 10px #FF9900;
    -moz-box-shadow: 0px 0px 10px #FF9900;
    box-shadow: 0px 0px 10px #FF9900;
}

#atomicongallery .folder {
	background: #d4d4d4 url('../images/light/folder-bg.png') repeat-x scroll top left;
	margin-bottom: 10px;
}

#atomicongallery .folder_up a,
#atomicongallery .folder a {
	color: #404040;
}

#atomicongallery .folder .info .description {
    color: #808080;
}

#atomicongallery .file {
    background: #d4d4d4 url('../images/light/file-bg.png') repeat-x scroll top left;
    margin-right: 10px;
	margin-bottom: 10px;
}

#lbOverlay {
	background-color: #ffffff;
}