
    <div style="margin: 0; background-color: #4c4c4c; color: #333333; font-family:Arial, Tahoma, Geneva, Kalimati, sans-serif;">        
        <table border="0" style="margin:auto; width: 100%; height: 70px; width: 700px;" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="width: 8px;" rowspan="2" valign="top" align="right">
                         <img src="http://www.ijoobi.com/images/jnews-templates/black/topleft_header.png" alt="jnewsletter logo" border="0"/>
                    </td>
                    <td>
                        <table cellpadding="0" cellspacing="0" style="width: 100%;" border="0">
                            <tbody>
                                <tr>
                                    <td bgcolor="#323232" height="57px">
                                        <img src="http://www.ijoobi.com/images/jnews-templates/black/logo-big.png" alt="jnewsletter logo" border="0" style="margin-left: 20px;">
                                      <span style="float:right; margin:20px 20px 0 0; color: #FFF; font-size: 0.8em;">
                                        [DATE]
                                      </span>
                                    </td>                                    
                                </tr>
                                <tr>
                                    <td height="57px" style="background-color: #f1edee; height: 57px; text-align:center;" valign="center">
                                        <span style="font-weight: bold; font-size: 25px;">jNews is now out in the market!</span>
                                    </td>
                                </tr>                    
                            </tbody>
                        </table>
                    </td>
                    <td style="width: 8px;" rowspan="2" valign="top" align="left">
                         <img src="http://www.ijoobi.com/images/jnews-templates/black/topright_header.png" alt="jnewsletter logo" border="0"/>
                    </td>
                </tr>           
            </tbody>
        </table>
        <table border="0" style="margin:auto; width: 100%; width: 700px;" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td><span style="font-size: 1em; color: #4c4c4c;">joobi</span></td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellpadding="10" cellspacing="10" style="margin:auto; width: 680px; background-color: #FFF;">
            <tbody>
                <tr>
                    <td width="250px;" align="left" valign="top">
                        <p>Hello [NAME],</p>
                        <p style="text-align: center;"><img src="http://www.ijoobi.com/images/upgrade_to_jnews.gif" alt="jNews Upgrade"></p>
                       
                        <p style="font-weight: bold; text-align:center; font-size: x-large;">What is it in for you?</p>
                        <ul>
                            <li>Template Management</li>
                            <li>Queue Management</li>
                            <li>Advanced Statistics</li>
                            <li>Sending Process</li>
                        </ul>
                        
                    </td>
                    <td style="text-align: justify;">
                        <span style="font-size:1em;">This 2010, we are coming out with a application that will bring email marketing to the next generation. This is jNews.</span>
                        <br/><br/>
                        <span style="font-size:1em;">jNews is our newest products, an email marketing application for Joomla 1.5 with the most powerful and coolest features ever making sure that your communications yields the best results that you want.</span>                        <br/>
                        <p style="text-align:center;">
                            <span style="border: 1px solid #333333; background-color: #333333; padding: 3px 10px; margin:10px;">
                                <a href="http://www.ijoobi.com/component/option,com_jmarket/Itemid,49/controller,product-display/eid,82/task,show/" style="text-decoration:none; color: #FFF; font-size:1em;">Product Presentation</a>
                            </span>                         
                            <span style="border: 1px solid #333333; background-color: #333333; padding: 3px 10px; margin:10px;">
                                <a href="http://www.ijoobi.com/Help/jNews/Table-of-Contents-jNews.html" style="text-decoration:none; color: #FFF; font-size:1em;">Documentation</a>
                            </span>
                        </p>
                        
                      
                        <hr style="width: 98%; margin-top: 60px;"/>
                        <span>Should you have questions, comments, feature requests, do not hesitate to contact our support or chat live with them.</span>
                        
                        <p style="text-align:center;">
                            <span style="border: 1px solid #333333; background-color: #333333; padding: 3px 10px; margin:10px;">
                                <a href="http://www.ijoobi.com/component/option,com_jtickets/Itemid,147/controller,ticket/" style="text-decoration:none; color: #FFF; font-size:1em;">Support</a>
                            </span>                          
                            <span style="border: 1px solid #333333; background-color: #333333; padding: 3px 10px; margin:10px;">
                                <a href="http://www.ijoobi.com/component/option,com_agora/Itemid,60/" style="text-decoration:none; color: #FFF; font-size:1em;">Forum</a>
                            </span>                          
                            <span style="border: 1px solid #333333; background-color: #333333; padding: 3px 10px; margin:10px;">
                                <a href="http://www.ijoobi.com/organization/about/welcome-to-joobi-live-support.html" style="text-decoration:none; color: #FFF; font-size:1em;">Live Admin</a>
                            </span>
                        </p>
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p style="text-align: center; font-size: 0.8em; ">
                            Would you like to change your subscription? [SUBSCRIPTIONS]<br/>
                            Not interested any more? [UNSUBSCRIBE]
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>       
         <table border="0" style="margin:auto; width: 100%; height: 70px; width: 702px;" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>                    
                    <td style="width: 8px;" rowspan="2" valign="top">
                         <img src="http://www.ijoobi.com/images/jnews-templates/black/bottom_left_black.png" alt="jnewsletter logo" border="0"/>
                    </td>
                    <td>
                        <table cellpadding="0" cellspacing="0" style="width: 100%;" border="0">
                            <tbody>
                                <tr>
                                    <td style="background-color: #FFF;">
                                        <span style="font-size: 16px; color: #FFF;">joobi</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#232323" height="118px">
                                        <table width="100%" cellpadding="0" cellspacing="5" border="0" style="padding: 0 10px; font-size:12px;">
                                            <tbody>
                                                <td>
                                                    <span style="font-size: 16px; color: #FFF;">Latest Testimonials</span>
                                                    <p style="color: #FFF;">It feels to me that live chat is the absolute best way to provide customer support...</p>
                                                    <span style="text-align:right; margin-right: 10px; color: #FFF;"><a href="" style="color: #FFF;">Read more</a></span>
                                                </td>
                                                <td>
                                                    <span style="font-size: 16px; color: #FFF;">More Powerful Features!</span>
                                                    <p style="color: #FFF;">Wanted to design your own newsletter template? Check our jNews PRO version.</p>
                                                    <span style="text-align:right; margin-right: 10px; color: #FFF;"><a href="" style="color:#FFF;">See more</a></span>
                                                </td>
                                                <td valign="bottom">
                                                    <img src="http://www.ijoobi.com/images/jnews-templates/black/logo-small.png" alt="jnewsletter logo" style="margin-left: 20px;">
                                                </td>
                                            </tbody>
                                        </table>                                        
                                    </td>                                    
                                </tr>
                                <tr>
                                    <td style="background-color: #4c4c4c; height: 115px; color: #FFF; text-align:center; font-size: 12px;" valign="top">
                                        <p style="color: #FFF; font-size:1em;">
                                            This email contains graphics, so if you don't see them, {viewonline:view it in your browser}.
                                        </p><br/><br/>                                    
                                        <a href="http://www.ijoobi.com" target="_blank">
                                        <center><div style="width: 99%; color:#FFF; font-size: 0.8em; text-align: center; ">Powered by Joobi</div></center>
                                        </a><br/><br/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="width: 8px;" rowspan="2" valign="top">
                         <img src="http://www.ijoobi.com/images/jnews-templates/black/bottom_right_black.png" alt="jnewsletter logo" border="0"/>
                    </td>
                </tr>               
            </tbody>
        </table>  
    </div>
