
    <div style="margin: 0; background-color: #054669; color: #FFFFFF; font-family:Arial, Tahoma, Geneva, Kalimati, sans-serif;">
        
    <table style="width: 547px; margin: auto; height: 70px;" border="0" cellpaddin="0" cellspacing="0">
        <tbody>            
            <tr>
                <td valign="top" style="background-color: #FFFFFF;" width="146px" height="70px">
                    <span style="color: #FFF; font-size: 0.5em;">
                        This text is hidden since gmail will strip off the element/table cell if its empty.
                    </span>
                </td>
                <td style="text-align: left; padding: 10px;">
                    <span style="font-size: 2em; color: #FFF;">LOGO &trade</span><br/>
                    <span style="font-size: 1em; color: #FFF;">a very wonderful tagline</span>
                </td>
                <td valign="bottom" style="text-align: right; padding-right: 10px;">
                    <span style="font-size: 0.9em; color: #FFF;">[DATE]</span>                    
                </td>
            </tr>
        </tbody>
    </table>
    <table style="width: 546px;margin: auto; " bgcolor="#FFF" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td valign="top" align="left" height="35px">
                    <img src="http://www.ijoobi.com/images/jnews-templates/elegant/elegant.gif" border="0">
                </td>
            </tr>
            
        </tbody>
    </table>
     <table style="width: 547px; margin: auto; height: 70px; background-color: #FFF;" border="0" cellpaddin="0" cellspacing="0">
        <tbody>
            <tr>
                <td valign="top" style=" padding: 20px 15px 15px 20px; text-align: justify;background-color:#FFF; width: 340px;">
                    <span style="color: #329aa7; font-size: 1.2em; ">
                        Lorem ipsum dolor sit amet
                    </span>
                    <br/>
                    <span style="color: #000; font-size: 0.8em;">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</span>
                    <br/><br/>
                    <span style="border: 1px solid #329aa7; background-color: #025b87; padding: 2px 8px;">
                        <a href="" style="text-decoration:none; color: #FFF; font-size: 0.8em;">Read more</a>
                    </span>
                </td>                
                <td valign="top" style="padding: 20px 15px 15px 0;">
                    <div style="border: 1px solid #C9C9C9; background-color: #EDEDED; padding: 4px;">
                        <img src="http://www.ijoobi.com/images/jnews-templates/elegant/sample-image.png" border="0">
                    </div>                   
                </td>               
            </tr>
            
        </tbody>
    </table>
     <table style="width: 547px; margin: auto;background-color: #FFF;" border="0" cellpaddin="0" cellspacing="0">
        <tbody>
            <tr>                            
                <td valign="top">
                    <span style="position: relative; left: -15px;text-decoration:none; color: #FFF; font-size: 0.9em; border: 1px solid #588029; background-color: #709a3e; padding: 2px 8px 2px 20px;">Featured</span>                 
                </td>               
            </tr>
            
        </tbody>
    </table>
   <table style="width: 547px; margin: auto; height: 70px; background-color: #FFF;" border="0" cellpaddin="0" cellspacing="0">
        <tbody>
            <tr>
                <td valign="top" style="padding: 20px 0 15px 15px;">
                    <div style="border: 1px solid #C9C9C9; background-color: #EDEDED; padding: 4px;">
                        <img src="http://www.ijoobi.com/images/jnews-templates/elegant/sample-image.png" width="150px" height="146px" border="0">
                    </div>                   
                </td> 
                <td valign="top" style=" padding: 20px 15px 15px 20px; text-align: justify;background-color:#FFF; width: 340px;">
                    <div style=" width: 100%; color: #FFFFFF; font-size: 1.2em; text-decoration:none; color: #FFF; border: 1px solid #329aa7; background-color: #025b87;">
                        <span style="padding-left: 10px;">Lorem ipsum dolor sit amet</span>
                    </div>                    
                    <span style="color: #000; font-size: 0.8em;">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..."</span>
                    <br/><br/>
                    <span style="float: right; border: 1px solid #329aa7; background-color: #025b87; padding: 2px 8px;">
                        <a href="" style="text-decoration:none; color: #FFF; font-size: 0.8em;">Read more</a>
                    </span>                    
                </td>  
            </tr>
            <tr>
                <td valign="top" style="padding: 20px 0 15px 15px;">
                    <div style="border: 1px solid #C9C9C9; background-color: #EDEDED; padding: 4px;">
                        <img src="http://www.ijoobi.com/images/jnews-templates/elegant/sample-image.png" width="150px" height="146px" border="0">
                    </div>                   
                </td> 
                <td valign="top" style=" padding: 20px 15px 15px 20px; text-align: justify;background-color:#FFF; width: 340px;">
                    <div style=" width: 100%; color: #FFFFFF; font-size: 1.2em; text-decoration:none; color: #FFF; border: 1px solid #329aa7; background-color: #025b87;">
                        <span style="padding-left: 10px;">Lorem ipsum dolor sit amet</span>
                    </div>                    
                    <span style="color: #000; font-size: 0.8em;">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..."</span>
                    <br/><br/>
                    <span style="float: right; border: 1px solid #329aa7; background-color: #025b87; padding: 2px 8px;">
                        <a href="" style="text-decoration:none; color: #FFF; font-size: 0.8em;">Read more</a>
                    </span>
                </td>  
            </tr>
            <tr>
                <td colspan="2">
                    <p style="text-align: center; font-size: 0.8em; color: #000000;">
                        Would you like to change your subscription? [SUBSCRIPTIONS]<br/>
                        Not interested any more? [UNSUBSCRIBE]
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
   <table style="width: 100%; margin: auto;background-color: #054669;" border="0" cellpaddin="0" cellspacing="0">
        <tbody>
            <tr>                            
                <td height="20px" valign="top" bgcolor="#709a3e">
                    
                </td>
                <td valign="top" style="width:545px; background-color: #FFFFFF;">
                    
                </td>
                <td valign="top" bgcolor="#709a3e">
                    
                </td>
            </tr>
            <tr bgcolor="#156e9f" >
                <td colspan="3" height="80px" align="top">
                    <center>
            <div style="color: #FFFFF; font-size:0.7em; text-align:center; padding-bottom: 5px;">
                <span style="color:#FFFFFF;">This email contains graphics, so if you don't see them, {viewonline:view it in your browser}.</span>
            </div>            
            </center>
                     <a href="http://www.ijoobi.com" target="_blank">
                        <center><div style="width: 99%; color:#FFF; font-size: 0.8em; text-align: center; ">Powered by Joobi</div></center>
                    </a>
                </td>
            </tr>            
        </tbody>
    </table>
    </div>
