.texto{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#6d6c6e; line-height:20px;}
.titulo{font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#0080c2; font-weight:bold;}
.destaque{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#0080c2; font-weight:bold;}
.Sem_Estilo{margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}





